/*通用样式*/
*{padding: 0;margin: 0;font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";}
ol,ul{list-style: none;}
a{text-decoration: none;color: #333;}
a:hover{color: #f60;}
img{border: none;vertical-align: middle;}
i,em{font-style: normal;}
.color-f{color: #f60;}
@mixin color-f{color: #f60;}
@mixin clearfix(){
  *zoom: 1;

  &:after{
    display: table;
    content: '';
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
  }
}

/*内容样式*/

.top{
  background-color: #F5F5F5;
  height: 35px;
  border-bottom: 1px solid #EEE;
  position: relative;
  z-index: 1;
}
.top-content{
  width: 1190px;
  margin: 0 auto;
  position: relative;
  @include clearfix();
}
.top-left{
  float: left;
}
.top-l{
  float: left;
  height: 35px;
}
.web-map{
  position: relative;
}
.top-drop{
  position: relative;
}
/*下拉hover*/
.top-drop:hover{
  .top-drop-bg{
    background-color: #fff;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #fff;
    margin-right: -1px;
    margin-left: -1px;
    z-index: 5;
  }
  .drop-box{
    display: block;
  }

}
@mixin topdrop(){
  position: relative;
  display: block;
  height: 35px;
  line-height: 35px;
  z-index: 5;
}
.web-map{
  padding: 0 11px 0 9px;
  @include topdrop();
}
.iconfont.icon-jiantou_down{
  font-size: 14px;
  color: #bbb;
}
/*下拉通用样式*/
@mixin dropbox(){
  position: absolute;
  display: none;
  border: 1px solid #DDD;
  background: #fff;
  top: 35px;
  left: -1px;
  z-index: 4;
  overflow: hidden;
  @include clearfix();
}

/*网站导航下拉*/
.web-map-drop{
  @include dropbox();
  width: 988px;
  height: 240px;
  padding-top: 20px;
}
.web-map-drop-close{
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;

  .icon-close{
    display: block;
    font-size: 14px;
    color: #666;
    &:hover{
      @include color-f();
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -o-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
      transform: rotateZ(180deg);

      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
  }
}
.web-map-drop-box{
  float: left;
  width: 176px;
  padding-left: 20px;
  border-right: 1px solid #eee;

  h3{
    height: 25px;
    font-size: 14px;
  }
}
.web-box-item{
  width: 100%;
  a{
    display: inline-block;
    width: 50%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    position: relative;

    &:hover{
      @include color-f();
    }
  }
}
.web-box-item-hot{
  display: inline-block;
  margin-top: 0;
  margin-left: 3px;
  right: 18px;
  width: 14px;
  height: 14px;
  background: url("image/npbg.png") 0 -205px no-repeat;
}
.web-map-drop-box-end{
  border-right: none;
}



.seller{
  padding: 0 7px 0 9px;
  @include topdrop();
}
/*商家入驻下拉*/
.seller-drop{
  @include dropbox();
  width: 162px;
  height: 117px;
  padding-top: 5px;

  p{
    display: inline-block;
    float: left;
    width: 50%;
    height: 28px;
    overflow: hidden;
    a{
      display: inline-block;
      width: 100%;
      padding-left: 10px;
      line-height: 28px;
    }
  }

}


.service{
  padding: 0 9px;
  @include topdrop();
}
/*客户服务下拉*/
.service-drop{
  @include dropbox();
  left:-83px;
  width: 162px;
  height: 117px;
  padding-top: 5px;

  p{
    display: inline-block;
    float: left;
    width: 50%;
    height: 28px;
    overflow: hidden;
    a{
      display: inline-block;
      width: 100%;
      padding-left: 10px;
      line-height: 28px;
    }
  }
}


.location{
  @include topdrop();
  margin-left: 10px;
}
.location-pic{
  display: inline-block;
  float: left;
  margin: 10px 6px 0;
  width: 12px;
  height: 15px;
  background: url("image/index.png") -387px -183px;
}
.location-down{
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  margin: 16px 0 0 6px;
  border-width: 6px 4px;
  border-color: #bbb transparent transparent;
  border-style: solid dashed dashed;
}

.top-right{
  float: right;
}
.top-r{
  float: left;
  position: relative;
}
.top-log a{
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin: 0 10px 0 4px;
}

.my-order,.my-yigou,.mobile-sn{
  padding: 0 9px;
  @include topdrop();
}
.sn-vip,.yifubao,.company{
  display: block;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
}

/*我的订单下拉*/
.my-order-drop{
  @include dropbox();
  width: 80px;
  height: 120px;
  padding-bottom: 5px;

  a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    overflow: hidden;
  }
}
/*我的易购下拉*/
.my-yigou-drop{
  @include dropbox();
  width: 162px;
  height: 156px;
  padding-top: 5px;
}
.yigou-drop-top{
  @include clearfix();

  img{
    float: left;
    margin-left: 10px;
    width: 54px;
    height: 54px;
    border: 1px solid #F7F7F7;
  }
}
.yigou-drop-top-t{
  display: block;
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  width: 64px;
  height: 26px;
  line-height: 26px;
}
.yigou-drop-top-p{
  display: block;
  float: left;
  margin-left: 20px;
  padding: 0 8px;
  height: 22px;
  width: 48px;
  line-height: 22px;
  color: #fff;
  background-color: #FF6600;
  border-radius: 3px;

  &:hover{
    color: #fff;
  }
}
.yigou-drop-btn{
  padding: 5px 0;

  p{
    display: inline-block;
    float: left;
    width: 50%;
    height: 30px;
    overflow: hidden;
    a{
      display: inline-block;
      width: 100%;
      padding-left: 10px;
      line-height: 30px;
    }
  }
}




.shopcar{
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 3px 0 27px;
  @include color-f();
  position: relative;


  .icon-gouwuche{
    font-size: 14px;
    @include color-f();
    position: absolute;
    top: 8px;
    left: 8px;
  }

  span{
    margin: 0 3px;
  }
}

/*购物车下拉*/
.shopcar-drop{
  @include dropbox;
  width: 280px;
  height: 400px;
}
.shopcar-drop-box{
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.shopcar-drop-box-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}
.shopcar-drop-pic{
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 96px;
  background: url("image/sidebar.png") 0 -290px no-repeat;
}
.shopcar-drop-p1{
  display: inline-block;
  margin: 10px auto 18px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  font-weight: lighter;
  color: #BBB;

}
.shopcar-drop-p2{
  display: inline-block;
  height: 26px;
  line-height: 26px;
  color: #BBB;
  margin: 0 auto;
}
.shopcar-drop-log{
  display: inline-block;
  padding: 0 20px;
  height: 26px;
  line-height: 26px;
  background: #FF6600;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;

  &:hover{
    color: #fff;
  }
}

/*手机苏宁下拉*/
.mobile-drop{
  @include dropbox();
  width: 540px;
  height: 210px;
  left: -461px;
  padding-top: 10px;
  @include clearfix();
}
.mobile-drop-box{
  width: 180px;
  float: left;
  position: relative;
  text-align: center;
  color: #666;

  p{
    height: 14px;
    line-height: 14px;
  }
  &:after{
    display: block;
    content: '';
    width: 1px;
    height: 97px;
    background-color: #DEDEDE;
    position: absolute;
    right: 0;
    top: 25px;
  }
}
.mobile-drop-box-btn{
  margin: 5px 0;
}
.mobile-drop-box-code{
  width: 147px;
  height: 147px;
  margin: 10px 0;
}

/*右上角+*/
.top-ad-btn{
  display: block;
  position: absolute;
  top: 3px;
  right: -23px;
  background: url("image/index.png") -241px -160px;
  width: 15px;
  height: 15px;

  &:hover{
    background-position: -256px -160px;
  }
}